{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Überprüfung von Schaltjahren{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="get" id="leapyearform">
    <div class="row">
      <div class="col">
        <div id="leapyear-group">
          <label for="leapyear">Jahr</label>
          <input type="text" class="form-control" id="leapyear" name="leapyear" placeholder="2020" required="1"/>
        </div>
      </div>
      <div class="col">
        <div id="leapyearresult-group">
          <div><label for="leapyearresult">Ergebnis:</label></div>
          <div class="badge badge-primary" id="leapyearresult"> ? </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col"><button type="submit" class="btn btn-success">Absenden</button></div>
    </div>
<!--
    <div class="row mt-3">
      <div class="col">
        Worker: <span id="workerinfo"></span>
      </div>
    </div>
-->
  </form>
{% endblock %}

{% block jsloader %}
    <script src="{{ url_for('static', filename='leapyear.js') }}"></script>
{% endblock %}
